.reminderBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 60px;
  height: 70px;
  background-color: #87d0ff;
}

.reminderBar p {
  color: #fff;
  margin-right: 30px;
}

.reminderBar p:hover {
  color: #393939;
  cursor: pointer;
  font-weight: bold;
}

.selectedP {
  color: #393939 !important;
  font-weight: bold !important;
}
