@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.blueText {
  color: #009eff;
  font-weight: 600;
}

.errorMsg {
  color: red;
  font-size: 20px;
}
